<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <div class="form-group">
      <label for="productNameAdd">Product</label>
      <input id="productNameAdd" matInput formControlName="productName" required />
    </div>
    <div class="form-group">
      <label for="urlAdd">Address</label>
      <input id="urlAdd" matInput formControlName="url" required />
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-raised-button color="primary" [disabled]="!productForm.valid" (click)="onSubmit()">
    Submit
  </button>
</div>
